h3 {
    text-transform: capitalize;
    text-align: right;
    margin-right: 15px;
}

.missedLetters {
    
    .missedLetter {
        font-size: 45px;
        display: inline;
        padding:10px;
        margin: 5px;
        border-radius: 4px;
        color: blue;
        text-transform: capitalize;        
    }
}