h3 {
    text-transform: capitalize;
}

.missedLetters {
    height: 55px;
    
    .missedLetter {
        font-size: 45px;
        display: inline;
        padding:10px;
        margin: 5px;
        border-radius: 4px;
        color: #4D69FA;
        text-transform: capitalize;        
    }
}