$corpus: 105px;
$head: 192px;
$arm: 126px;
$foot: 84px;
$hand: 30px;
$leg: 82px;
$neck: 46px;

$corpus-height: 165px;
$head-height: 212px;
$neck-height: 67px;
$arm-height: 122px;
$leg-height: 178px;
$foot-height: 36px;

$bar-width: 200px;
$bar-hook: 180px;
$leftmargin: 20px;

// by how much to pull up the body parts
$pull-up: 20px;

// middle of body, where the head is connected to the bar-hook
$middle: $bar-hook - $leftmargin;



.bar {
    margin-left: -$leftmargin;
    width: $bar-width;
    
    img {
    width: $bar-width;
    height: auto;
    }
}

.body-top {
    position: relative;
    height: $head-height - $pull-up + $neck-height/2;
    top: -$pull-up;
    
    div {
        position: absolute;
    }
    
    .head {
        left:$middle - ($head / 2);
    }

    .neck {
        left:$middle - ($neck / 2);
        top: $head-height - $neck-height + $pull-up;
    }
}

.body-middle {
    position: relative;
    top: -$pull-up;
    height: $corpus-height; //corpus height
    
    div {
        position: absolute;
    }
    
    .corpus {
        left: $middle - ($corpus / 2);
    }
    
    .left-arm {
        left: $middle - ($corpus / 2) - ($arm * (3/4) - 8px);
    }
    
    .right-arm {
        left: $middle + ($corpus / 2) - ($arm * (1/4) + 8px);
    }
    
    .left-hand {
        top: $arm-height - $pull-up;
        left: $middle - ($corpus / 2) - ($arm * 3/4);
    }
    
    .right-hand {
        top: $arm-height - $pull-up;
        left: $middle + ($corpus / 2) + ($arm / 2);
    }
}

.body-bottom {
    position: relative;
    height: $leg-height;
    top: -$pull-up * 2;
    
    div {
        position: absolute;
    }
    
    .left-leg {
        left: $middle - ($corpus / 2) - ($leg * (1/2) - 7px);
    }
    
    .right-leg {
        left: $middle + ($corpus / 2) - ($leg * (1/2) + 7px);
    }
    
    .left-foot {
        top: $leg-height - $pull-up*2 + $foot-height/2;
        left: 36px;
    }
    
    .right-foot {
        top: $leg-height - $pull-up*2 + $foot-height/2;
        left: 195px;
    }
    
}