<div class="main">

  <div class="hangman-canvas" (keyup)="onKey($event)" (keypress)="onKey($event)">

    <app-missed-letters [missedLetters]="missedLetters"></app-missed-letters>

    <app-hangman [wrongGuesses]="wrongGuesses"></app-hangman>

    <div class="guess-word">
      <div class="guess-letter" *ngFor="let letter of wordToGuess" [ngClass]="{guessed: isLetterInCorrectlyGuessedLetters(letter)}">
        <div *ngIf="isLetterInCorrectlyGuessedLetters(letter)">{{letter}}</div>
      </div>
    </div>

  </div>
</div>

<dialog id="gameoverModal" class="modal">
  <h2>GAME OVER</h2>
  <button (click)="newGame()">NEW GAME</button>
</dialog>