<div class="main">

  <div class="hangman-canvas">

    <app-hangman [wrongGuesses]="wrongGuesses"></app-hangman>
    <app-missed-letters [missedLetters]="missedLetters"></app-missed-letters>

  </div>

  <div class="guess-word">
    <div class="guess-letter" *ngFor="let letter of wordToGuess" [ngClass]="{guessed: isLetterInCorrectlyGuessedLetters(letter)}">
      <div *ngIf="isLetterInCorrectlyGuessedLetters(letter)">{{letter}}</div>
    </div>
  </div>

</div>

<div class="valign">
  <dialog id="gameoverModal" class="modal">
    <h2>{{modalText}}</h2>
    <p *ngIf="wordToGuess">You were looking for:<br/>{{wordToGuess.join('')}}</p>
    <button (click)="newGame()">New Word</button>
  </dialog>
</div>