body {
    margin:0;
    padding:0;
    background-color: #3B4163;
    padding: 30px;
}

.valign {
    display:flex;justify-content:center;align-items:center;width:100%;height:100%;
}

#spinner {
    background-color: #F5F5F5; 
}